body,
html {
    background-color: rgb(95, 106, 136);
    color: white;
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2vw;
    height: 100%;
}

.topMenu {
    display: flex;
    background-color: white;
    align-items: center;
}

.topMenuTabs {
    margin-left: auto;
}

.topMenuTabs a {
    display: inline-block;
    padding-right: 1vw;
    padding-left: 1vw;
    color: rgb(0, 0, 0);
    transition: transform .15s ease;
    background-color: white;
    padding-bottom: 1.5vw;
    padding-top: 1vw;
}

.topMenuTabs a:hover {
    transform: translateY(1vw);
    background-color: rgb(179, 179, 179);

}

h1 {
    text-align: center;
    font-size: 3vw;
}

.bottomLinks {
    text-align: center;
    color: white;
    font-size: 2vw;
    background-color: black;
    padding-top: 3vw;
    padding-bottom: 3vw;
}

.bottomLinks a {
    color: white;
    margin-right: 1vw;
}

.logo {
    width: 100%;
    height: 30vw;
    object-fit: cover;
    object-position: center;
    display: block;
}

.genInfo {
    display: flex;
    text-align: justify;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main {
    flex: 1;
}